.customerzone {
    &__title {
        font-size: 4rem;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 10px;
        text-align: center;
        margin: 3rem 0;
    }
}
